@font-face {
  font-family: din;
  src: url(../fonts/DIN-Regular.otf);
}

@font-face {
  font-family: din;
  src: url(../fonts/DIN-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: din;
  src: url(../fonts/DIN-MediumItalic.otf);
  font-style: italic;
}

/* General */

* {
  font-family: din;
}

.float-left {
  float: left;
}

.ov-hidden {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  #Logo {
    height: 70vh;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 594px) {
  #input-suscribe {
    border: 5px solid #F7931D;
    width: 300px;
    height: 50px;
    margin-left: 10%;
  }
  #outer-suscribe {
    width: 130px;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 594px) {
  #input-suscribe {
    border: 5px solid #F7931D;
    width: 300px;
    height: 50px;
    float: left;
    margin-left: 10%;
  }
  #outer-suscribe {
    width: 130px;
    height: 50px;
    margin: 0 20px;
    padding: 10px;
    float: left;
  }
}

.bg-orange {
  background-color: #F7931D;
}

.bg-orange-border {
  background-color: #F7931D;
  border: 1px solid #ffffff;
}

.judul-section {
  color: #F6931D;
  font-size: 36pt;
  font-weight: bold;
}

.icon-kembang-1 {
  padding: 20px 10px 0px 0px;
}

.padding-left-30 {
  padding-left: 30px;
}

.link-hitam a {
  text-decoration: none;
  font-size: 14pt;
  color: #000000;
  font-weight: bold;
}

/* Menu Navbar  */

#menuNav ul {
  list-style-type: none;
  margin-top: : 0px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#menuNav li {
  display: inline-block;
  padding: 15px 30px
}

#menuNav li a {
  text-decoration: none;
  font-size: 12pt;
  color: #000000;
  font-weight: bold;
}

/* Main Image */

.img-homepage {
  width: 100%;
  z-index: 0;
}

/* Main Judul */

#judul {
  background-color: #FBAF3F;
  padding: 10px 0px;
  border: 8px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, gold 0%, #ffffff 100%);
  -webkit-border-image: -webkit-linear-gradient(top, gold 00%, #ffffff 100%);
  border-image: linear-gradient(to right, gold 30%, #ffffff 70%);
  border-image-slice: 1;
  font-size: 55pt;
  color: #ffffff;
}

/* Tentang Warung Leko */

#icon-kembang {
  padding: 45px 10px 0px 0px;
}

#about-leko p {
  color: #000000;
  font-size: 21pt;
  font-weight: normal;
  padding: 0 50px 0 0;
  line-height: 32pt;
}

#Logo {
  padding-top: 30px;
}

/* Our Best Seller */

#best-seller {
  background-image: url("../img/background-best-seller.png");
  padding: 30px 130px;
  margin-bottom: 20px;
}

#judul-best-seller {
  font-size: 24pt;
  font-weight: bold;
  color: #ffffff;
  width: 250px;
  height: 40px;
}

#outer-best-seller {
  width: 270px;
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.best-seller-thumbnail {
  background-color: #F7931D;
  border: none;
  padding: 0px;
  margin-top: 15px;
}

.font-din-bold-14 {
  color: #ffffff !important;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}

.link-putih {
  margin: 25px 0;
}

.link-putih a {
  text-decoration: none;
  font-size: 14pt;
  color: #ffffff;
  font-weight: bold;
}

/* News & PROMOTIONS */

#happy-hour-judul {
  font-size: 24pt;
  font-weight: bold;
  color: #F7931D;
  margin-bottom: 20px;
}

#news-happy-hour p {
  font-size: 21pt;
  font-weight: normal;
  margin: 40px 0;
  line-height: 32pt;
}

/* REVIEWS */

.review {
  padding-top: : 20px !important;
}

.gambar-review {
  margin-right: 25px;
  padding-top: 25px;
}

.tulisan-review {
  font-size: 21pt;
  color: #000000;
  background: rgba(251, 175, 63, 0.7);
  padding: 15px;
}

/* Footer */

#footer {
  background-image: url(../img/bagian-bawah.png);
  padding-top: 120px;
  padding-bottom: 50px;
}

#perintah-suscribe {
  font-size: 18pt;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

#button-suscribe {
  font-size: 14pt;
  font-weight: bold;
  color: #ffffff;
  width: 110px;
  height: 30px;
}

.icon-sosmed {
  margin: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.c-yellow {
  background: #fbaf3f;
}

hr {
  border: 0;
  background: white;
  height: 1px;
}
